<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="TrickFit">
    <title>TrickFit | Cena</title>
    <link rel="stylesheet" href="../../Style/Recipes/dinner.css">
</head>

<body class="full_screen">

<header class="font_header">
    <div class="header_content">
        <button type="button" class="button_container">
            <img class="btn_icon_return" src="img/image_return.png">
        </button>
        <div class="space_header1"></div>
        <div class="crea_habitos_salud">Crea habitos saludables a tu ritmo</div>
        <div class="space_header2"></div>
        <button type="button" class="button_container text_inicio">INICIO</button>
    </div>
</header>

<section>
    <div class="flex-row">
        <div class="content-items-services">
            <input class="input_search" type="search" aria-live="polite"
                   placeholder="Buscar">
            <div class="text_cena">Cena</div>
        </div>
    </div>

    <div class="container-services">
        <div class="content-items-services">

            <article class="item-service">
                <div class="gratuito_nunito">Gratuito</div>
                <section>
                    <iframe class="visualizer_vid"
                        width="560"
                        height="315"
                        src="https://www.youtube.com/embed/uZu9MApSHs4"
                        title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                </section>
                <div class="title-content-video">Aguacate relleno</div>
                <button type="button" class="btt_ingresar">Ingresar</button>
            </article>

            <article class="item-service">
                <div class="gratuito_nunito">Gratuito</div>
                <section >
                    <iframe class="visualizer_vid"
                        width="560"
                        height="315"
                        src="https://www.youtube.com/embed/G6bWFhFo_VM"
                        title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                </section>
                <div class="title-content-video">Gazpacho</div>
                <button type="button" class="btt_ingresar">Ingresar</button>
            </article>

            <article class="item-service">
                <div class="gratuito_nunito">Gratuito</div>
                <section >
                    <iframe class="visualizer_vid"
                        width="560"
                        height="315"
                        src="https://www.youtube.com/embed/RqT-UKZl6gQ"
                        title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                </section>
                <div class="title-content-video">Ensalada de frutas</div>
                <button type="button" class="btt_ingresar">Ingresar</button>
            </article>


            <article class="item-service">
                <div class="gratuito_nunito">Gratuito</div>
                <section>
                    <iframe class="visualizer_vid"
                            width="560"
                            height="315"
                            src="https://www.youtube.com/embed/RqT-UKZl6gQ"
                            title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                    </iframe>
                </section>
                <div class="title-content-video">Aguacate relleno</div>
                <button type="button" class="btt_ingresar">Ingresar</button>
            </article>

            <article class="item-service">
                <div class="gratuito_nunito">Gratuito</div>
                <section >
                    <iframe class="visualizer_vid"
                            width="560"
                            height="315"
                            src="https://www.youtube.com/embed/RqT-UKZl6gQ"
                            title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                    </iframe>
                </section>
                <div class="title-content-video">Gazpacho</div>
                <button type="button" class="btt_ingresar">Ingresar</button>
            </article>

            <article class="item-service">
                <div class="gratuito_nunito">Gratuito</div>
                <section >
                    <iframe class="visualizer_vid"
                            width="560"
                            height="315"
                            src="https://www.youtube.com/embed/RqT-UKZl6gQ"
                            title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                    </iframe>
                </section>
                <div class="title-content-video">Ensalada de frutas</div>
                <button type="button" class="btt_ingresar">Ingresar</button>
            </article>

            <article class="item-service">
                <div class="gratuito_nunito">Gratuito</div>
                <section>
                    <iframe class="visualizer_vid"
                            width="560"
                            height="315"
                            src="https://www.youtube.com/embed/RqT-UKZl6gQ"
                            title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                    </iframe>
                </section>
                <div class="title-content-video">Aguacate relleno</div>
                <button type="button" class="btt_ingresar">Ingresar</button>
            </article>

            <article class="item-service">
                <div class="gratuito_nunito">Gratuito</div>
                <section >
                    <iframe class="visualizer_vid"
                            width="560"
                            height="315"
                            src="https://www.youtube.com/embed/RqT-UKZl6gQ"
                            title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                    </iframe>
                </section>
                <div class="title-content-video">Gazpacho</div>
                <button type="button" class="btt_ingresar">Ingresar</button>
            </article>

            <article class="item-service">
                <div class="gratuito_nunito">Gratuito</div>
                <section >
                    <iframe class="visualizer_vid"
                            width="560"
                            height="315"
                            src="https://www.youtube.com/embed/RqT-UKZl6gQ"
                            title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                    </iframe>
                </section>
                <div class="title-content-video">Ensalada de frutas</div>
                <button type="button" class="btt_ingresar">Ingresar</button>
            </article>

        </div>
    </div>
</section>

</body>
</html>