
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    src: url(https://fonts.gstatic.com/s/nunito/v24/XRXV3I6Li01BKofINeaB.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.full_screen{
    margin: 0px;
    border: 0px;
    padding: 0px;
}

.font_header {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    justify-content: center;
}

.header_content{
    align-items: center;
    display: flex;
    height: 106px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    justify-content: center;
}

.button_container{
    background-color: #FFFFFF;
    border: 1px solid #437ED3;
    height: 106px;
    width: 78px;
}

.btn_icon_return {
    justify-content: center;
    height: 58px;
    width: 62px;
}

.crea_habitos_salud {
    font-family: Nunito;
    font-size: 48px;
    color: #035397;
    margin: 20px 0px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.space_header1{
    width: 20px;
}
.space_header2{
    width: 480px;
}

.text_inicio {
    font-family: Nunito;
    place-content: end;
    color: #035397;
    font-size: 18px;
}

.flex-row{
    align-items: center;
    max-width: 1313px;
    padding: 45px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.text_almuerzo {
    color: #035397;
    font-family: Nunito;
    font-size: 43px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: right;
    width: 400px;
    margin: 25px 0px;
}

.input_search {
    width: 800px;
    height: 60px;
    background: #FFFFFF;
    border: 1px solid #437ED3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    color: #437ED3;
    font-family: Nunito;
    font-size: 30px;
    text-align: center;
    outline: none;
    margin: 26px 0px;
    padding-inline-end: 44px;
    padding-inline-start: 52px;
    position: relative;
}

.visualizer_vid {
    height: 196px;
    width: 324px;
    object-fit: cover;
    margin-top: 80px;
    border-radius: 30px;
}

.gratuito_nunito {
    align-self: flex-start;
    width: 88px;
    min-height: 26px;
    font-family: 'Nunito';
    font-size: 24px;
    color: #FFFFFF;
    margin-left: 15px;
}

.title-content-video{
    font-family: 'Nunito';
    margin-top: 20px;
    font-size: 36px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btt_ingresar{
    margin-top: 20px;
    width: 315px;
    background-color: #FFFFFF;
    border: 1px solid #437ED3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    padding: 11.2px 0;
    font-family: 'Nunito';
    font-size: 18px;
    color: #437ED3;

}

.container-services {
    max-width: 1313px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.content-items-services {
    display: flex;
    flex-wrap: wrap;
    clear: both;
    justify-content: center;
    padding: 10px 10px;
}

.item-service {
    margin: 1.5%;
    padding: 30px 30px;
    display: inline-block;
    text-align: center;
    border-radius: 30px;
    background-color: #FF7000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    flex-shrink: 1
}

